frontierlink/wsdl.production/FrontierLink.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="FrontierLink"
                  targetNamespace="http://www.aapt.com.au/FrontierLink"
                  xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://www.aapt.com.au/FrontierLink"
                  xmlns:wsg="http://www.aapt.com.au/FrontierLink/xsd"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <!-- Types -->
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.aapt.com.au/FrontierLink/xsd" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

            <xsd:include schemaLocation="xsd/QualifyProductRequest.xsd" />
            <xsd:include schemaLocation="xsd/QualifyProductResponse.xsd" />
            <xsd:include schemaLocation="xsd/ListDslExchangesRequest.xsd" />
            <xsd:include schemaLocation="xsd/ListDslExchangesResponse.xsd" />
            <xsd:include schemaLocation="xsd/QualifyDslExchangeRequest.xsd" />
            <xsd:include schemaLocation="xsd/QualifyDslExchangeResponse.xsd" />

            <xsd:include schemaLocation="xsd/NewServiceRequest.xsd" />
            <xsd:include schemaLocation="xsd/NewServiceResponse.xsd" />
            <xsd:include schemaLocation="xsd/CancelServiceRequest.xsd" />
            <xsd:include schemaLocation="xsd/CancelServiceResponse.xsd" />
            <xsd:include schemaLocation="xsd/WithdrawServiceRequest.xsd" />
            <xsd:include schemaLocation="xsd/WithdrawServiceResponse.xsd" />
            <xsd:include schemaLocation="xsd/ModifyServiceRequest.xsd" />
            <xsd:include schemaLocation="xsd/ModifyServiceResponse.xsd" />

            <xsd:include schemaLocation="xsd/EnquireServiceRequest.xsd" />
            <xsd:include schemaLocation="xsd/EnquireServiceResponse.xsd" />
            <xsd:include schemaLocation="xsd/ListActivitiesRequest.xsd" />
            <xsd:include schemaLocation="xsd/ListActivitiesResponse.xsd" />

            <xsd:include schemaLocation="xsd/DSLLineStatusRequest.xsd" />
            <xsd:include schemaLocation="xsd/DSLLineStatusResponse.xsd" />
            <xsd:include schemaLocation="xsd/DSLShowModeSyncRequest.xsd" />
            <xsd:include schemaLocation="xsd/DSLShowModeSyncResponse.xsd" />
            <xsd:include schemaLocation="xsd/DSLExtendedLinePerformanceRequest.xsd" />
            <xsd:include schemaLocation="xsd/DSLExtendedLinePerformanceResponse.xsd" />
            <xsd:include schemaLocation="xsd/DSLQueryProgressExtendedLinePerformanceRequest.xsd" />
            <xsd:include schemaLocation="xsd/DSLQueryProgressExtendedLinePerformanceResponse.xsd" />
            <xsd:include schemaLocation="xsd/DSLServiceQualityTestRequest.xsd" />
            <xsd:include schemaLocation="xsd/DSLServiceQualityTestResponse.xsd" />
            <xsd:include schemaLocation="xsd/DSLQueryProgressServiceQualityTestRequest.xsd" />
            <xsd:include schemaLocation="xsd/DSLQueryProgressServiceQualityTestResponse.xsd" />
            <xsd:include schemaLocation="xsd/DSLRebuildPortRequest.xsd" />
            <xsd:include schemaLocation="xsd/DSLRebuildPortResponse.xsd" />
            <xsd:include schemaLocation="xsd/DSLQueryProgressRebuildPortRequest.xsd" />
            <xsd:include schemaLocation="xsd/DSLQueryProgressRebuildPortResponse.xsd" />
            <xsd:include schemaLocation="xsd/DSLChangeProfileRequest.xsd" />
            <xsd:include schemaLocation="xsd/DSLChangeProfileResponse.xsd" />
            <xsd:include schemaLocation="xsd/DSLQueryProgressChangeProfileRequest.xsd" />
            <xsd:include schemaLocation="xsd/DSLQueryProgressChangeProfileResponse.xsd" />
            <xsd:include schemaLocation="xsd/CreateServiceTicketRequest.xsd" />
            <xsd:include schemaLocation="xsd/CreateServiceTicketResponse.xsd" />
            <xsd:include schemaLocation="xsd/UpdateServiceTicketRequest.xsd" />
            <xsd:include schemaLocation="xsd/UpdateServiceTicketResponse.xsd" />
            <xsd:include schemaLocation="xsd/GetServiceTicketRequest.xsd" />
            <xsd:include schemaLocation="xsd/GetServiceTicketResponse.xsd" />

            <xsd:include schemaLocation="xsd/RadiusEntryQueryRequest.xsd" />
            <xsd:include schemaLocation="xsd/RadiusEntryQueryResponse.xsd" />
            <xsd:include schemaLocation="xsd/RadiusEntryUpdateRequest.xsd" />
            <xsd:include schemaLocation="xsd/RadiusEntryUpdateResponse.xsd" />
            <xsd:include schemaLocation="xsd/RadiusDomainListRequest.xsd" />
            <xsd:include schemaLocation="xsd/RadiusDomainListResponse.xsd" />

            <xsd:include schemaLocation="xsd/Error.xsd" />

        </xsd:schema>
    </wsdl:types>

    <!-- Messages -->
    <wsdl:message name="QualifyProductRequest">
        <wsdl:part name="parameters" element="wsg:QualifyProductRequest" />
    </wsdl:message>
    <wsdl:message name="QualifyProductResponse">
        <wsdl:part name="parameters" element="wsg:QualifyProductResponse" />
    </wsdl:message>
    <wsdl:message name="ListDslExchangesRequest">
        <wsdl:part name="parameters" element="wsg:ListDslExchangesRequest" />
    </wsdl:message>
    <wsdl:message name="ListDslExchangesResponse">
        <wsdl:part name="parameters" element="wsg:ListDslExchangesResponse" />
    </wsdl:message>
    <wsdl:message name="QualifyDslExchangeRequest">
        <wsdl:part name="parameters" element="wsg:QualifyDslExchangeRequest" />
    </wsdl:message>
    <wsdl:message name="QualifyDslExchangeResponse">
        <wsdl:part name="parameters" element="wsg:QualifyDslExchangeResponse" />
    </wsdl:message>

    <wsdl:message name="NewServiceRequest">
        <wsdl:part name="parameters" element="wsg:NewServiceRequest" />
    </wsdl:message>
    <wsdl:message name="NewServiceResponse">
        <wsdl:part name="parameters" element="wsg:NewServiceResponse" />
    </wsdl:message>
    <wsdl:message name="CancelServiceRequest">
        <wsdl:part name="parameters" element="wsg:CancelServiceRequest" />
    </wsdl:message>
    <wsdl:message name="CancelServiceResponse">
        <wsdl:part name="parameters" element="wsg:CancelServiceResponse" />
    </wsdl:message>
    <wsdl:message name="WithdrawServiceRequest">
        <wsdl:part name="parameters" element="wsg:WithdrawServiceRequest" />
    </wsdl:message>
    <wsdl:message name="WithdrawServiceResponse">
        <wsdl:part name="parameters" element="wsg:WithdrawServiceResponse" />
    </wsdl:message>
    <wsdl:message name="ModifyServiceRequest">
        <wsdl:part name="parameters" element="wsg:ModifyServiceRequest" />
    </wsdl:message>
    <wsdl:message name="ModifyServiceResponse">
        <wsdl:part name="parameters" element="wsg:ModifyServiceResponse" />
    </wsdl:message>

    <wsdl:message name="EnquireServiceRequest">
        <wsdl:part name="parameters" element="wsg:EnquireServiceRequest" />
    </wsdl:message>
    <wsdl:message name="EnquireServiceResponse">
        <wsdl:part name="parameters" element="wsg:EnquireServiceResponse" />
    </wsdl:message>
    <wsdl:message name="ListActivitiesRequest">
        <wsdl:part name="parameters" element="wsg:ListActivitiesRequest" />
    </wsdl:message>
    <wsdl:message name="ListActivitiesResponse">
        <wsdl:part name="parameters" element="wsg:ListActivitiesResponse" />
    </wsdl:message>

    <wsdl:message name="DSLLineStatusRequest">
        <wsdl:part name="parameters" element="wsg:DSLLineStatusRequest" />
    </wsdl:message>
    <wsdl:message name="DSLLineStatusResponse">
        <wsdl:part name="parameters" element="wsg:DSLLineStatusResponse" />
    </wsdl:message>
    <wsdl:message name="DSLShowModeSyncRequest">
        <wsdl:part name="parameters" element="wsg:DSLShowModeSyncRequest" />
    </wsdl:message>
    <wsdl:message name="DSLShowModeSyncResponse">
        <wsdl:part name="parameters" element="wsg:DSLShowModeSyncResponse" />
    </wsdl:message>
    <wsdl:message name="DSLExtendedLinePerformanceRequest">
        <wsdl:part name="parameters" element="wsg:DSLExtendedLinePerformanceRequest" />
    </wsdl:message>
    <wsdl:message name="DSLExtendedLinePerformanceResponse">
        <wsdl:part name="parameters" element="wsg:DSLExtendedLinePerformanceResponse" />
    </wsdl:message>
    <wsdl:message name="DSLQueryProgressExtendedLinePerformanceRequest">
        <wsdl:part name="parameters" element="wsg:DSLQueryProgressExtendedLinePerformanceRequest" />
    </wsdl:message>
    <wsdl:message name="DSLQueryProgressExtendedLinePerformanceResponse">
        <wsdl:part name="parameters" element="wsg:DSLQueryProgressExtendedLinePerformanceResponse" />
    </wsdl:message>
    <wsdl:message name="DSLServiceQualityTestRequest">
        <wsdl:part name="parameters" element="wsg:DSLServiceQualityTestRequest" />
    </wsdl:message>
    <wsdl:message name="DSLServiceQualityTestResponse">
        <wsdl:part name="parameters" element="wsg:DSLServiceQualityTestResponse" />
    </wsdl:message>
    <wsdl:message name="DSLQueryProgressServiceQualityTestRequest">
        <wsdl:part name="parameters" element="wsg:DSLQueryProgressServiceQualityTestRequest" />
    </wsdl:message>
    <wsdl:message name="DSLQueryProgressServiceQualityTestResponse">
        <wsdl:part name="parameters" element="wsg:DSLQueryProgressServiceQualityTestResponse" />
    </wsdl:message>
    <wsdl:message name="DSLRebuildPortRequest">
        <wsdl:part name="parameters" element="wsg:DSLRebuildPortRequest" />
    </wsdl:message>
    <wsdl:message name="DSLRebuildPortResponse">
        <wsdl:part name="parameters" element="wsg:DSLRebuildPortResponse" />
    </wsdl:message>
    <wsdl:message name="DSLQueryProgressRebuildPortRequest">
        <wsdl:part name="parameters" element="wsg:DSLQueryProgressRebuildPortRequest" />
    </wsdl:message>
    <wsdl:message name="DSLQueryProgressRebuildPortResponse">
        <wsdl:part name="parameters" element="wsg:DSLQueryProgressRebuildPortResponse" />
    </wsdl:message>
    <wsdl:message name="DSLChangeProfileRequest">
        <wsdl:part name="parameters" element="wsg:DSLChangeProfileRequest" />
    </wsdl:message>
    <wsdl:message name="DSLChangeProfileResponse">
        <wsdl:part name="parameters" element="wsg:DSLChangeProfileResponse" />
    </wsdl:message>
    <wsdl:message name="DSLQueryProgressChangeProfileRequest">
        <wsdl:part name="parameters" element="wsg:DSLQueryProgressChangeProfileRequest" />
    </wsdl:message>
    <wsdl:message name="DSLQueryProgressChangeProfileResponse">
        <wsdl:part name="parameters" element="wsg:DSLQueryProgressChangeProfileResponse" />
    </wsdl:message>
    <wsdl:message name="CreateServiceTicketRequest">
        <wsdl:part name="parameters" element="wsg:CreateServiceTicketRequest" />
    </wsdl:message>
    <wsdl:message name="CreateServiceTicketResponse">
        <wsdl:part name="parameters" element="wsg:CreateServiceTicketResponse" />
    </wsdl:message>
    <wsdl:message name="UpdateServiceTicketRequest">
        <wsdl:part name="parameters" element="wsg:UpdateServiceTicketRequest" />
    </wsdl:message>
    <wsdl:message name="UpdateServiceTicketResponse">
        <wsdl:part name="parameters" element="wsg:UpdateServiceTicketResponse" />
    </wsdl:message>
    <wsdl:message name="GetServiceTicketRequest">
        <wsdl:part name="parameters" element="wsg:GetServiceTicketRequest" />
    </wsdl:message>
    <wsdl:message name="GetServiceTicketResponse">
        <wsdl:part name="parameters" element="wsg:GetServiceTicketResponse" />
    </wsdl:message>

    <wsdl:message name="RadiusEntryQueryRequest">
        <wsdl:part name="parameters" element="wsg:RadiusEntryQueryRequest" />
    </wsdl:message>
    <wsdl:message name="RadiusEntryQueryResponse">
        <wsdl:part name="parameters" element="wsg:RadiusEntryQueryResponse" />
    </wsdl:message>
    <wsdl:message name="RadiusEntryUpdateRequest">
        <wsdl:part name="parameters" element="wsg:RadiusEntryUpdateRequest" />
    </wsdl:message>
    <wsdl:message name="RadiusEntryUpdateResponse">
        <wsdl:part name="parameters" element="wsg:RadiusEntryUpdateResponse" />
    </wsdl:message>
    <wsdl:message name="RadiusDomainListRequest">
        <wsdl:part name="parameters" element="wsg:RadiusDomainListRequest" />
    </wsdl:message>
    <wsdl:message name="RadiusDomainListResponse">
        <wsdl:part name="parameters" element="wsg:RadiusDomainListResponse" />
    </wsdl:message>

    <wsdl:message name="Error">
        <wsdl:part name="parameters" element="wsg:Error" />
    </wsdl:message>

    <!-- Port type -->
    <wsdl:portType name="ServiceQualificationPortType">
        <wsdl:operation name="qualifyProduct">
            <wsdl:input message="tns:QualifyProductRequest" />
            <wsdl:output message="tns:QualifyProductResponse" />
            <wsdl:fault message="tns:Error" name="Error" />
        </wsdl:operation>
        <wsdl:operation name="listDslExchanges">
            <wsdl:input message="tns:ListDslExchangesRequest" />
            <wsdl:output message="tns:ListDslExchangesResponse" />
            <wsdl:fault message="tns:Error" name="Error" />
        </wsdl:operation>
        <wsdl:operation name="qualifyDslExchange">
            <wsdl:input message="tns:QualifyDslExchangeRequest" />
            <wsdl:output message="tns:QualifyDslExchangeResponse" />
            <wsdl:fault message="tns:Error" name="Error" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="ServiceRequestPortType">
        <wsdl:operation name="newService">
            <wsdl:input message="tns:NewServiceRequest" />
            <wsdl:output message="tns:NewServiceResponse" />
            <wsdl:fault message="tns:Error" name="Error" />
        </wsdl:operation>
        <wsdl:operation name="cancelService">
            <wsdl:input message="tns:CancelServiceRequest" />
            <wsdl:output message="tns:CancelServiceResponse" />
            <wsdl:fault message="tns:Error" name="Error" />
        </wsdl:operation>
        <wsdl:operation name="withdrawService">
            <wsdl:input message="tns:WithdrawServiceRequest" />
            <wsdl:output message="tns:WithdrawServiceResponse" />
            <wsdl:fault message="tns:Error" name="Error" />
        </wsdl:operation>
        <wsdl:operation name="modifyService">
            <wsdl:input message="tns:ModifyServiceRequest" />
            <wsdl:output message="tns:ModifyServiceResponse" />
            <wsdl:fault message="tns:Error" name="Error" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="ServiceStatusPortType">
        <wsdl:operation name="enquireService">
            <wsdl:input message="tns:EnquireServiceRequest" />
            <wsdl:output message="tns:EnquireServiceResponse" />
            <wsdl:fault message="tns:Error" name="Error" />
        </wsdl:operation>
        <wsdl:operation name="listActivities">
            <wsdl:input message="tns:ListActivitiesRequest" />
            <wsdl:output message="tns:ListActivitiesResponse" />
            <wsdl:fault message="tns:Error" name="Error" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="ServiceAssurancePortType">
        <wsdl:operation name="lineStatus">
            <wsdl:input message="tns:DSLLineStatusRequest" />
            <wsdl:output message="tns:DSLLineStatusResponse" />
            <wsdl:fault message="tns:Error" name="Error" />
        </wsdl:operation>
        <wsdl:operation name="showModeSync">
            <wsdl:input message="tns:DSLShowModeSyncRequest" />
            <wsdl:output message="tns:DSLShowModeSyncResponse" />
            <wsdl:fault message="tns:Error" name="Error" />
        </wsdl:operation>
        <wsdl:operation name="extendedLinePerformance">
            <wsdl:input message="tns:DSLExtendedLinePerformanceRequest" />
            <wsdl:output message="tns:DSLExtendedLinePerformanceResponse" />
            <wsdl:fault message="tns:Error" name="Error" />
        </wsdl:operation>
        <wsdl:operation name="queryProgressExtendedLinePerformance">
            <wsdl:input message="tns:DSLQueryProgressExtendedLinePerformanceRequest" />
            <wsdl:output message="tns:DSLQueryProgressExtendedLinePerformanceResponse" />
            <wsdl:fault message="tns:Error" name="Error" />
        </wsdl:operation>
        <wsdl:operation name="serviceQualityTest">
            <wsdl:input message="tns:DSLServiceQualityTestRequest" />
            <wsdl:output message="tns:DSLServiceQualityTestResponse" />
            <wsdl:fault message="tns:Error" name="Error" />
        </wsdl:operation>
        <wsdl:operation name="queryProgressServiceQualityTest">
            <wsdl:input message="tns:DSLQueryProgressServiceQualityTestRequest" />
            <wsdl:output message="tns:DSLQueryProgressServiceQualityTestResponse" />
            <wsdl:fault message="tns:Error" name="Error" />
        </wsdl:operation>
        <wsdl:operation name="rebuildPort">
            <wsdl:input message="tns:DSLRebuildPortRequest" />
            <wsdl:output message="tns:DSLRebuildPortResponse" />
            <wsdl:fault message="tns:Error" name="Error" />
        </wsdl:operation>
        <wsdl:operation name="queryProgressRebuildPort">
            <wsdl:input message="tns:DSLQueryProgressRebuildPortRequest" />
            <wsdl:output message="tns:DSLQueryProgressRebuildPortResponse" />
            <wsdl:fault message="tns:Error" name="Error" />
        </wsdl:operation>
        <wsdl:operation name="changeProfile">
            <wsdl:input message="tns:DSLChangeProfileRequest" />
            <wsdl:output message="tns:DSLChangeProfileResponse" />
            <wsdl:fault message="tns:Error" name="Error" />
        </wsdl:operation>
        <wsdl:operation name="queryProgressChangeProfile">
            <wsdl:input message="tns:DSLQueryProgressChangeProfileRequest" />
            <wsdl:output message="tns:DSLQueryProgressChangeProfileResponse" />
            <wsdl:fault message="tns:Error" name="Error" />
        </wsdl:operation>
        <wsdl:operation name="createServiceTicket">
            <wsdl:input message="tns:CreateServiceTicketRequest" />
            <wsdl:output message="tns:CreateServiceTicketResponse" />
            <wsdl:fault message="tns:Error" name="Error" />
        </wsdl:operation>
        <wsdl:operation name="updateServiceTicket">
            <wsdl:input message="tns:UpdateServiceTicketRequest" />
            <wsdl:output message="tns:UpdateServiceTicketResponse" />
            <wsdl:fault message="tns:Error" name="Error" />
        </wsdl:operation>
        <wsdl:operation name="getServiceTicket">
            <wsdl:input message="tns:GetServiceTicketRequest" />
            <wsdl:output message="tns:GetServiceTicketResponse" />
            <wsdl:fault message="tns:Error" name="Error" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="AAPTRadiusInterfacePortType">
        <wsdl:operation name="radiusEntryQuery">
            <wsdl:input message="tns:RadiusEntryQueryRequest" />
            <wsdl:output message="tns:RadiusEntryQueryResponse" />
            <wsdl:fault message="tns:Error" name="Error" />
        </wsdl:operation>
        <wsdl:operation name="radiusEntryUpdate">
            <wsdl:input message="tns:RadiusEntryUpdateRequest" />
            <wsdl:output message="tns:RadiusEntryUpdateResponse" />
            <wsdl:fault message="tns:Error" name="Error" />
        </wsdl:operation>
        <wsdl:operation name="radiusDomainList">
            <wsdl:input message="tns:RadiusDomainListRequest" />
            <wsdl:output message="tns:RadiusDomainListResponse" />
            <wsdl:fault message="tns:Error" name="Error" />
        </wsdl:operation>
    </wsdl:portType>

    <!-- Binding -->
    <wsdl:binding name="ServiceQualificationPortBinding" type="tns:ServiceQualificationPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="qualifyProduct">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listDslExchanges">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="qualifyDslExchange">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="ServiceRequestPortBinding" type="tns:ServiceRequestPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="newService">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="cancelService">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="withdrawService">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="modifyService">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="ServiceStatusPortBinding" type="tns:ServiceStatusPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="enquireService">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listActivities">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="ServiceAssurancePortBinding" type="tns:ServiceAssurancePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="lineStatus">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="showModeSync">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="extendedLinePerformance">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryProgressExtendedLinePerformance">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="serviceQualityTest">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryProgressServiceQualityTest">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="rebuildPort">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryProgressRebuildPort">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeProfile">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryProgressChangeProfile">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createServiceTicket">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateServiceTicket">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServiceTicket">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AAPTRadiusInterfacePortBinding" type="tns:AAPTRadiusInterfacePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="radiusEntryQuery">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="radiusEntryUpdate">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="radiusDomainList">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <!-- Service -->
    <wsdl:service name="FrontierLink">
        <wsdl:port name="ServiceQualification" binding="tns:ServiceQualificationPortBinding">
            <soap:address location="https://frontierlink.aapt.com.au:8481/FrontierLink/services/ServiceQualification" />
        </wsdl:port>
        <wsdl:port name="ServiceRequest" binding="tns:ServiceRequestPortBinding">
            <soap:address location="https://frontierlink.aapt.com.au:8481/FrontierLink/services/ServiceRequest" />
        </wsdl:port>
        <wsdl:port name="ServiceStatus" binding="tns:ServiceStatusPortBinding">
            <soap:address location="https://frontierlink.aapt.com.au:8481/FrontierLink/services/ServiceStatus" />
        </wsdl:port>
        <wsdl:port name="ServiceAssurance" binding="tns:ServiceAssurancePortBinding">
            <soap:address location="https://frontierlink.aapt.com.au:8481/FrontierLink/services/ServiceAssurance" />
        </wsdl:port>
        <wsdl:port name="AAPTRadiusInterface" binding="tns:AAPTRadiusInterfacePortBinding">
            <soap:address location="https://frontierlink.aapt.com.au:8481/FrontierLink/services/AAPTRadiusInterface" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>