includes/xisoap/wsdl/cancel_service.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:CancelService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:CancelService">
<types>
<xsd:schema targetNamespace="urn:CancelService"
>
 <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
 <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
 <xsd:complexType name="ConnectRequest">
  <xsd:all>
   <xsd:element name="Service_ID" type="xsd:string"/>
   <xsd:element name="Cancel_Date" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="ConnectReturn">
  <xsd:all>
   <xsd:element name="Status_code" type="xsd:string"/>
   <xsd:element name="Service_ID" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
</xsd:schema>
</types>
<message name="CancelServiceRequest">
  <part name="request" type="tns:ConnectRequest" /></message>
<message name="CancelServiceResponse">
  <part name="return" type="tns:ConnectReturn" /></message>
<portType name="CancelServicePortType">
  <operation name="CancelService">
    <documentation>This is the Cancel Service</documentation>
    <input message="tns:CancelServiceRequest"/>
    <output message="tns:CancelServiceResponse"/>
  </operation>
</portType>
<binding name="CancelServiceBinding" type="tns:CancelServicePortType">
  <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="CancelService">
    <soap:operation soapAction="urn:CancelService#CancelService" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:CancelService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:CancelService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
</binding>
<service name="CancelService">
  <port name="CancelServicePort" binding="tns:CancelServiceBinding">
    <soap:address location="http://210.50.3.29:4005/components/com_soapxml/CancelService.php"/>
  </port>
</service>
</definitions>